/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Rubik:wght@400;700&display=swap');

@import "tailwindcss";


/* Set global font family */
body {
  font-family: 'Raleway', 'Poppins', 'DM Sans', 'Rubik', sans-serif;
}

@layer components {
  .bubbles {
    --c2: #0D0659;           /* border & bubble color */
    --size-letter: 16px;     /* ↓ smaller font size */
    padding: 0.3em 0.8em;    /* ↓ less vertical & horizontal padding */
    font-size: var(--size-letter);

    background-color: transparent;
    border: calc(var(--size-letter) / 6) solid var(--c2);
    border-radius: 0.8em;
    cursor: pointer;

    overflow: hidden;
    position: relative;
    transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .bubbles > .text {
    font-weight: 700;
    color: white;
    position: relative;
    z-index: 1;
    transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .bubbles::before,
  .bubbles::after {
    content: "";
    width: 150%;
    aspect-ratio: 1/1;
    scale: 0;
    transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(--c2);
    border-radius: 50%;

    position: absolute;
    top: 0; left: 0;
    translate: -50% -50%;
  }
  .bubbles::after {
    top: 100%; left: 100%;
  }

  .bubbles:hover > .text {
    color: white;
  }
  .bubbles:hover::before,
  .bubbles:hover::after {
    scale: 1;
  }

  .bubbles:active {
    scale: 0.98;
    filter: brightness(0.9);
  }
}
